* {
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
body {
   font-family: "Poppins", sans-serif;


}
.contact{
    width: 86%;
    margin: 20px auto;
    padding: 5%;
    border: solid grey 1px;
    border-radius: 5px;
    
   
}
img{
    width: 100%;
    margin:10px;
    border-radius: 10px;
    overflow-y: hidden;
    
}

.top {
    color:black;
    margin-bottom: 5%;
}
.top h2{
    color:rgb(3, 108, 129);

}
.top p{
    color: rgb(161, 161, 161);
    font-size: 14px;
}
.child_form{
    width: 100%;
    margin: 15px;
    text-align:left;
}
.child_form label{
    display: block;
}
.child_form input{
    width: 90%;
    padding: 5px;
}
.child_form textarea{
    width: 90%;
    padding: 5px;
    font-family: "Poppins", sans-serif;
}
.child_form [type="button"]{
    width: 40%;
    padding: 5px;
    background: rgb(17, 17, 144);
    color: white;
    border: solid rgb(17, 17, 54);
    border-radius: 5px ;
    cursor: pointer;
}
li{
    list-style-type:square ;
}

.child_form:last-child{
    margin-bottom: 0px;
}